<%- include("partials/header") -%>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Air quality index </h1>
    <em><h3><p class="quote lead">
      Clean air and a healthy climate benefit all of us, but it will take a diverse coalition to step up to the threat posed by unchecked climate change.
  </p></h3></em>

  <h2 class="cover-heading"> <%= city %>,<%= country %></h2>
  <h2 class="cover-heading">  <%= dateTime %></h2>
  <h2 class="cover-heading"> AQI - <%= aqi %></h2>
  <h2 class="cover-heading"> Weather - <%= weather %></h2>
  

  </main>

<%- include("partials/footer") -%>
